#DB
POSTGRES_DB=<DB_NAME>
POSTGRES_DB_PORT=<DB_PORT>
POSTGRES_USER=<DB_USER>
POSTGRES_PASSWORD=<DB_PASSWORD>
POSTGRES_HOST=<DB_HOST>

#Django
SECRET_KEY=<SECRET_KEY>
DJANGO_SETTINGS_MODULE=<MODULE_NAME>
RENDER_EXTERNAL_HOSTNAME=<DOMAIN>