{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
	<h1>Authors:
    <a class="btn btn-dark m-2" style="float: right" href="{% url 'prompts:author-create' %}">add new Author</a>
  </h1>
  <form class="form-inline" action="">
    {% csrf_token %}
    {{ search_form|crispy }}
    <input type="submit" value="Search" class="btn btn-secondary">
  </form>
  {% for author in author_list.all %}
    <hr>
    <p class="alert alert-secondary"><a href="{% url 'prompts:author-detail' pk=author.id %}">{{ author }}: {{ author.prompts.count }} prompt{{ author.prompts.count|pluralize }}</a></p>
  {% endfor %}
{% endblock %}