{% extends 'base.html' %}

{% block content %}
  <h1>{{ author }}</h1>

{% if author.is_authenticated and author.id == user.id %}
<div class="card border-0 shadow-sm p-4 mt-3">

  <p class="small text-muted mb-1">Username: <span class="text-dark font-weight-bold">{{ author.username }}</span></p>
  <p class="small text-muted mb-1">First name: <span class="text-dark font-weight-bold">{{ author.first_name }}</span></p>
  <p class="small text-muted mb-1">Last name: <span class="text-dark font-weight-bold">{{ author.last_name }}</span></p>
  <p class="small text-muted mb-1">Display name: <span class="text-dark font-weight-bold">{{ author.display_name }}</span></p>
  <p class="small text-muted mb-4">Email: <span class="text-dark font-weight-bold">{{ author.email }}</span></p>

  <p class="small font-weight-bold text-uppercase text-secondary mb-2">List of prompts:</p>
{% if author.prompts.all %}
  {% for prompt in author.prompts.all %}
    <p class="border-left border-dark pl-2 mb-1"><a class="small text-dark" href="{% url 'prompts:prompt-detail' pk=prompt.id %}">{{ prompt.title }}</a></p>
  {% endfor %}
  {% else %}
  <p><i>Currently, no any prompts added</i></p>
  {% endif %}
  <a href="{% url 'prompts:prompt-create' %}" class="btn btn-dark btn-sm">+ Add new prompt</a>

  <a class="btn btn-dark mt-4" href="{% url 'prompts:author-update' pk=author.id %}">Update your personal data</a>
  <a class="btn btn-danger btn-sm mt-4" style="opacity: 0.5;" href="{% url 'prompts:author-delete' pk=author.id %}">Delete account</a>
</div>
{% else %}

{% if author.prompts.all %}
  {% for prompt in author.prompts.all %}
    <div class="d-flex align-items-center justify-content-between border-bottom py-2">
      <a class="text-dark font-weight-bold" style="text-decoration: none;" href="{% url 'prompts:prompt-detail' pk=prompt.id %}">
        📄 {{ prompt.title }}
      </a>
      <span class="text-muted small">{{ prompt.created_at}}</span>
    </div>
  {% endfor %}
{% else %}
  <p class="text-muted small font-italic border-left border-secondary pl-2">No prompts from that author</p>
{% endif %}
    {% if user.is_superuser %}
    <a class="btn btn-dark btn-sm btn-sm mt-4 mb-4" style="opacity: 0.5;" href="{% url 'prompts:author-delete' pk=author.id %}">Delete account</a>
    {% endif %}
  {% endif %}
{% endblock %}