{% extends  "base.html" %}

{% block content %}
  <p style="color: crimson"><i>Are you sure you want to delete account?</i></p>
  <p>It will delete all data permanently, including prompts</p>
  <form action="" method="post" novalidate>
  {% csrf_token %}
    <input class="btn btn-dark btn-sm" type="Submit" value="Yes, delete">
    {% url 'prompts:author-detail' pk=author.id as author %}
    <a class="btn btn-outline-dark btn-sm" href="{{ next|default:author }}">Cancel</a>
  </form>
{% endblock %}