{% extends 'base.html' %}

{% block content %}
  <h1 class="badge badge-pill badge-light border float-badge m-3 p-2">{{ category }}

  </h1>
  <div class="d-flex" style="float: right">
    {% if user.is_authenticated and user.is_superuser %}
        <a  class="btn btn-warning mr-2 mt-3" href="{% url 'prompts:category-update' pk=category.id %}">UPDATE CATEGORY</a>
        <a style="float: right" class="btn btn-danger mt-3" href="{% url 'prompts:category-delete' pk=category.id %}">DELETE</a>
      {% endif %}
  </div>

  {% if category.prompts.all %}
  {% for prompt in category.prompts.all %}
  <ul class="list-group">
  <li class="list-group-item mt-3 p-2"><strong><a href="{% url 'prompts:prompt-detail' pk=prompt.id %}">{{ prompt.title }}</a></strong></li>
  </ul>
  {% endfor %}
  {% else %}
   <p class="mt-4">The is no prompt for that category</p>
    
  {% endif %}

{% endblock %}