{% extends 'base.html' %}

{% block content %}

  <h1>{{ prompt.title }}</h1>

    {% for category in prompt.categories.all  %}
  <p href="#"
     class="badge badge-pill badge-light border float-badge m-1 p-2">
    {{ category.name }}
  </p>
  {% endfor %}
<div class="shadow p-3 mb-5 bg-white rounded">
{% if prompt.avg_rating %}
      <p style="float: right"><a href="#">⭐️ {{ prompt.avg_rating }}</a></p>
      {% else %}
      <p style="float: right"><a href="#">⭐️ Be the first one to rate</a></p>
      {% endif %}
<p> ⚡️ {{ prompt.content|linebreaks }}</p>

{% if user.is_authenticated and prompt.author.id == user.id %}
  <a class="btn btn-outline-dark btn-sm" href="{% url 'prompts:prompt-update' pk=prompt.id %}">
    ✏️ Edit prompt
  </a>
 {% endif %}
{% if user.is_authenticated and prompt.author.id == user.id or user.is_superuser %}
<a class="btn btn-outline-danger btn-sm" style="opacity: 0.7;" href="{% url 'prompts:prompt-delete' pk=prompt.id %}">
  🗑️ Delete prompt
</a>
{% endif %}

</div>

  <h4>Comment{{ counted|pluralize }}: {{ counted }}</h4>


  {% if prompt.comments.all %}
  {% for comment in prompt.comments.all %}
  <div class="container shadow p-2 mb-3 bg-white rounded border-left border-secondary">
    <p class="pl-1 text-muted"><strong>{{ comment.user }}</strong> | <em>{{ comment.created_at }}</em></p>

    <p class="small text-secondary font-weight-bold">{{ comment.content }}</p>

  </div>
  {% endfor %}
  {% else %}
  <p>No comments yet</p>
  {% endif %}
{% endblock %}