{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}

  <h1>{{ prompt.title }}</h1>

    {% for category in prompt.categories.all  %}
  <p href="#"
     class="badge badge-pill badge-light border float-badge m-1 p-2">
    {{ category.name }}
  </p>
  {% endfor %}
<div class="shadow p-3 mb-5 bg-white rounded">
{% if prompt.avg_rating %}
      <p class="mb-0" style="float: right">
        <a class="btn btn-sm btn-outline-dark float-right"  href="{% url 'prompts:rating-create' pk=prompt.id %}">⭐️{{ prompt.avg_rating }}</a>
      </p>
      {% else %}
      <p class="mb-0 btn btn-outline-dark" style="float: right">
        <a class="btn btn-sm btn-outline-dark float-right" href="{% url 'prompts:rating-create' pk=prompt.id %}">⭐️ Be the first one to rate</a>
      </p>
      {% endif %}
<p> ⚡️ {{ prompt.content|linebreaks }}</p>

{% if user.is_authenticated and prompt.author.id == user.id %}
  <a class="btn btn-outline-dark btn-sm" href="{% url 'prompts:prompt-update' pk=prompt.id %}">
    ✏️ Edit prompt
  </a>
 {% endif %}
{% if user.is_authenticated and prompt.author.id == user.id or user.is_superuser %}
<a class="btn btn-outline-danger btn-sm" style="opacity: 0.7;" href="{% url 'prompts:prompt-delete' pk=prompt.id %}">
  🗑️ Delete prompt
</a>
{% endif %}

</div>

  <h4>Comment{{ counted|pluralize }}: {{ counted }}</h4>

{% if user.is_authenticated %}
  <p><strong>Add comment: </strong></p>
  <form action="" method="post" class="mt-3">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-dark btn-sm" type="submit" value="✉️ Post comment">
  </form>
{% else %}
  <p class="text-muted small font-italic border-left border-secondary pl-2">
    Only authorized users could comment
  </p>
{% endif %}

  {% if prompt.comments.all %}
  {% for comment in prompt.comments.all %}
  <div class="container shadow p-2 mb-3 mt-3 bg-white rounded border-left border-secondary">
    <p class="pl-1 text-muted"><strong>{{ comment.user }}</strong> | <em>{{ comment.created_at }}</em></p>

    <p class="small text-secondary font-weight-bold">{{ comment.content }}</p>

{% if user.is_authenticated and comment.user.id == user.id %}
  <a class="btn btn-outline-dark btn-sm" href="{% url 'prompts:comment-update' pk=comment.id %}">✏️ Edit</a>
  {% endif %}
  {% if user.is_authenticated and comment.user.id == user.id or user.is_superuser %}
  <a class="btn btn-outline-danger btn-sm ml-1" style="opacity: 0.7;" href="{% url 'prompts:comment-delete' pk=comment.id %}">🗑️ Delete</a>
{% endif %}

  </div>
  {% endfor %}


  {% endif %}


{% endblock %}