{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <form class="form-inline mt-3" action="" method="get">
      {% csrf_token %}
    {{ search_form|crispy }}
      <input class="btn btn-secondary" type="submit" value="🔎">
    </form>
  {% if prompt_list %}

  <ul class="list-group list-group-flush">
  {% for prompt in prompt_list %}
    <li class="list-group-item">
      <strong>Title: {{ prompt.title }}</strong>
      <br>
      author: {{ prompt.author }}
      <br>
      <em>created: {{ prompt.created_at }}</em>
    </li>
    <li class="list-group-item d-flex flex-column">
      <strong>Description:</strong> {{ prompt.description }}
      <a class="btn btn-info" href="{% url 'prompts:prompt-detail' pk=prompt.id %}">⚡️Click here to see prompt⚡️</a>
    </li>
    <li class="list-group-item">
    {% if prompt.avg_rating %}
      ⭐️{{ prompt.avg_rating }}
      {% else %}
      ⭐️ Be the first one to rate
      {% endif %}
      | <a href="{% url 'prompts:prompt-detail' pk=prompt.id %}">comments: {{ prompt.comments.count }} </a>
    </li>
  </ul>
    {% endfor %}
  {% else %}
    <p style="color: crimson">No prompts found to show</p>
  {% endif %}
{% endblock %}