{% block sidebar %}
<div class="pt-3">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a href="{% url 'prompts:index' %}" class="nav-link text-dark">🏠 Home</a>
    </li>
    <li class="nav-item">
      <a href="{% url 'prompts:prompt-list' %}" class="nav-link text-dark">📄 Prompts</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark">🗂 Categories</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark">👥 Authors</a>
    </li>
  </ul>

  <div class="border-top mt-3 pt-3">
    {% if user.is_authenticated %}
      <p class="px-3 font-weight-bold text-center">{{ user }}</p>
      <a href="#" class="nav-link text-danger btn btn-dark">Logout</a>
    {% else %}
      <a href="#" class="nav-link text-primary">Login</a>
    {% endif %}
  </div>
</div>
{% endblock %}